{% extends "base_questionnaire.html" %}

{% block title %}
	Questionnaire Index
	<h1>user : {{user}}</h1>
{% endblock %}

{% block content %}
	{% if group_list %}
		<h2>Try questionnaire</h2>
			questionnaire_ids : {{group_list}}
			{% for x in group_list %}
				<li> <a href="qs/{{ x.id }}/1">Questionnaire No : {{ x.name }}</a></li>
			{% endfor %}
         
		<h2>Edit questionnaire</h2>
			{% for x in group_list %}
				<li> <a href="edit/{{ x.id }}/1">Questionnaire No : {{ x.name }}</a></li>
			{% endfor %}         
         
		<h2>Display Answer for each Questionnaire</h2>
			{% for x in group_list %}
				<li> <a href="questionanswer/{{ x.id }}/1">Questionnaire Name : {{ x.name }}</a></li>
            {% endfor %}      
         
		<h2>Show questionnaire answers trail</h2>
			{% for x in group_list %}
				<li> <a href="trailquestionanswers/{{user.id}}/{{ x.id }}/1">Questionnaire Name : {{ x.name }}</a></li>
            {% endfor %}           
         
		<h2>List of all questionnaire</h2>
			{% for x in group_list %}
				<li> <a href="{{x.id }}">Questionnaire Name : {{x.name }}</a></li>
            {% endfor %}    
	{% endif %}
{% endblock %}