{% extends "base_questionnaire.html" %}

{% block title%}            
	<h1>{{questionnaire.name}} detail </h1>
{% endblock %}	

{% block content %}	
	{%csrf_token %}
		{% if  groups_list %}     
			<p><h3>Questionnaire: {{questionnaire.name}}  user: {{user}}</h3></p>
        	<ul>	
				<h4>Display Question Answers</h4> 	
					{% for group in  groups_list %}
						<li> <a href="{% url display_question_answer  questionnaire.id  group.id  %}">Show Answer QuestionGroup : {{group.id }}</a></li>
					{% endfor %}<br />
                <h4>Edit Question Answers</h4> 
                    {% for group in  groups_list %}
						<li> <a href="{% url edit_question_answer  questionnaire.id  group.id  %}">Edit QuestionGroup : {{group.id }}</a></li>
                    {% endfor %}
        {% else %}
                 <li>Sorry, no group in this questionnaire.</li>
        {% endif %}
            </ul>  
                 
{% endblock %}