
	<title> questionanswer display group {{questiongroup_id}} </title>
	 
	{%csrf_token %}
	    
    {% if questionanswer %}
    
   <h3>Questionanswer Display Questiongroup:{{questiongroup_id}} </h3>
   {% if groups_list %}
     <h4> Other QuestionGroups in {{questionnaire.name}}</h4>
    <ul>
    {% for group in groups_list %}
    
    {% ifnotequal questiongroup_id group.id %} 
     <li><a href="{% url display_question_answer questionnaire.id group.id  %}">Display answer questiongroup : {{group.id}}</a></li>
    {% endifnotequal %}
    {% endfor %}
    </ul>
    {% else %}
    <p>No group available in this questionnaire.</p>
    {% endif %}
         
     {%else%}
      
       The group enter is not valid questiongroup  has no question answer
    
     {%endif%}
    
   <p><h3>Questionnaire : {{questionnaire.name}}     Questiongroup: {{questiongroup_id}}  </h3></p>
	<p><h3>  user: {{request.user}}</h3></p>
     
    {% for x in questionanswer %}
    
      {% ifchanged x.0 %} 
     <strong><p>Question id : {{x.0}}  Question:{{x.1|capfirst}}</p></strong>
   
      {% endifchanged%}
       
      <div>Answer:{{ x.2 }} </div><br>
      
       
      {% endfor %}
     
      
   

    



